/*1292454573,176833977*/

.sp_26olor{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zH/r/mHp6HKqMCJI.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_3a69b0{width:190px;height:90px;background-position:-0px -0px}
.sx_08d142{width:15px;height:13px;background-position:-57px -147px}
.sx_501911{background-position:-72px -162px}
.sx_bd70f1{background-position:-89px -162px}
.sx_6a5a76{width:20px;height:20px;background-position:-0px -162px}
.sx_08aba7{width:7px;height:7px;background-position:-147px -200px}
.sx_0276a6{width:9px;height:12px;background-position:-137px -200px}
.sx_00d127{width:17px;height:17px;background-position:-171px -106px}
.sx_77c28f{background-position:-157px -162px}
.sx_8373e8{height:15px;background-position:-85px -200px}
.sx_eaaa6e{background-position:-51px -183px}
.sx_29d9da{background-position:-51px -200px}
.sx_d6db98{width:9px;height:5px;background-position:-122px -147px}
.sx_a6c4b8{width:5px;height:3px;background-position:-171px -124px}
.sx_307a1a{background-position:-153px -183px}
.sx_8f14be{background-position:-119px -183px}
.sx_2ac911{height:17px;background-position:-55px -162px}
.sx_ff46d6{background-position:-170px -183px}
.sx_23d50f{width:18px;height:18px;background-position:-18px -128px}
.sx_23d50f:hover{background-position:-0px -128px}
.sx_9d2059{background-position:-17px -200px}
.sx_730709{background-position:-68px -200px}
.sx_1351d1{width:9px;height:14px;background-position:-180px -91px}
.selected .sx_1351d1{background-position:-171px -91px}
.sx_5fc292{background-position:-34px -200px}
.sx_c36666{background-position:-0px -200px}
.sx_f7dfa3{width:8px;height:14px;background-position:-31px -147px}
.selected .sx_f7dfa3{background-position:-23px -147px}
.sx_a42c94{width:13px;background-position:-16px -217px}
.sx_3932fe{width:10px;height:9px;background-position:-111px -147px}
.sx_a9a0cc{width:13px;height:10px;background-position:-85px -147px}
.sx_df6397{background-position:-85px -183px}
.sx_328c14{height:14px;background-position:-40px -147px}
.sx_3d913a{background-position:-68px -183px}
.sx_30105e{height:17px;background-position:-38px -162px}
.sx_dbd1bf{background-position:-34px -183px}
.sx_847c1e{background-position:-17px -183px}
.sx_6c3484{width:14px;height:14px;background-position:-102px -200px}
.sx_f5b6d4{background-position:-0px -183px}
.sx_afdaa7{background-position:-174px -162px}
.sx_fcc098{width:15px;background-position:-0px -217px}
.sx_9738cf{width:11px;height:14px;background-position:-158px -128px}
.selected .sx_9738cf{background-position:-147px -128px}
.sx_157a4a{width:170px;height:36px;background-position:-0px -91px}
.sx_0b2c59{background-position:-140px -162px}
.sx_44ab27{width:13px;height:14px;background-position:-83px -128px}
.selected .sx_44ab27{background-position:-70px -128px}
.sx_c38bf0{background-position:-53px -128px}
.selected .sx_c38bf0{background-position:-37px -128px}
.sx_18af1e{background-position:-106px -162px}
.sx_c8cce7{width:12px;height:14px;background-position:-134px -128px}
.selected .sx_c8cce7{background-position:-122px -128px}
.sx_e6ba0b{width:9px;height:13px;background-position:-117px -200px}
.sx_c14076{height:17px;background-position:-21px -162px}
.sx_a0efa3{width:12px;height:14px;background-position:-109px -128px}
.selected .sx_a0efa3{background-position:-97px -128px}
.sx_d99656{background-position:-102px -183px}
.sx_3736b4{background-position:-136px -183px}
.sx_d1c5e1{width:11px;height:14px;background-position:-11px -147px}
.selected .sx_d1c5e1{background-position:-0px -147px}
.sx_616d05{width:11px;height:13px;background-position:-73px -147px}
.sx_88524f{width:11px;height:9px;background-position:-99px -147px}
.sx_1fba96{height:14px;background-position:-170px -128px}
.sx_609556{background-position:-123px -162px}
.sx_47412f{width:9px;height:13px;background-position:-127px -200px}

#bootloader_Wb8OO { height: 42px; }