/*1292454572,176820666*/

.async_throbber .async_saving{background:url(https://s-static.ak.facebook.com/rsrc.php/zb/r/GsNJNwuI-UM.gif) no-repeat right;padding-right:20px}
.text_exposed_root{display:inline}
.text_exposed .text_exposed_show{display:inline}
.text_exposed_show,.text_exposed .text_exposed_hide{display:none}
.text_exposed_link{font-size:9px;padding:0 12px 0 0;white-space:nowrap}
.text_exposed_link_icon{margin:0 0 -1px 4px}
.text_exposed .text_exposed_link{display:none !important}
.fbNub{top:-1px}
.fbNub,.fbNubGroup{float:left;position:relative}
.fbNubButton{border-color:#999;border-style:solid;border-width:1px 0 0 1px;color:#333;display:block;height:16px;font-weight:bold;padding:4px 5px;position:relative;z-index:1}
.fbNubButton:hover{background:#fff;text-decoration:none}
.openToggler .fbNubButton{background:#fff;border-color:#777;border-right-width:1px;border-top-width:0;margin-right:-1px;padding:5px}
.openToggler .fbNubButton .rule{border-top:1px solid #ccc;margin-top:-5px;padding-top:4px;position:relative}
.fbNubFlyout{background-color:#fff;border-bottom:1px solid #777;bottom:25px;position:absolute}
.lNubContainer .fbNubFlyout,.rNubContainer .fbNub .swapDirection{left:0;right:auto}
.rNubContainer .fbNubFlyout,.lNubContainer .fbNub .swapDirection{left:auto;right:-1px}
.fbNub .noTitlebar{border-top:1px solid #777}
.fbNubFlyoutTitlebar{background-color:#6d84b4;border:1px solid #254588;border-bottom:0;color:#fff;cursor:pointer;font-size:11px;font-weight:bold;padding:3px 3px 3px 5px}
.fbNubFlyoutHeader,.fbNubFlyoutBody,.fbNubFlyoutFooter{border-color:#777;border-style:solid;border-width:0 1px}
.fbNubFlyoutBody{overflow-x:hidden;overflow-y:auto}
.menuOpened .fbNubFlyoutTitlebar{background-color:#f2f2f2;border-color:#777;color:#333}
.fbNub .fbNubButton .UIImageBlock_Content{float:left;width:auto}
.fbNub .fbNubButton .spritemap_icons{display:block}
.fbDockWrapper{bottom:0;direction:ltr;height:25px;left:0;position:fixed;right:0;z-index:104}
.fbDockWrapperTop{bottom:auto;top:0}
.fbDockWrapperLeft{right:auto}
.fbDockWrapperRight{left:auto}
.fbDock{margin:0 15px}
.fbDock .lNubContainer{float:left}
.fbDock .rNubContainer{float:right}
.fbDock,.fbDockWrapperLeft .lNubContainer,.fbDockWrapperRight .rNubContainer{background:#f4f4f4 url(https://s-static.ak.facebook.com/rsrc.php/zY/r/zR5rPVu7Dbe.png) 0 0 repeat-x;border-color:#999;border-style:solid;border-width:1px 1px 0 0}
.fbDockWrapperLeft .fbDock,.fbDockWrapperRight .fbDock{background:none;border:0 none}
.emote_text{display:none}
.emote_img,.emote_custom{height:16px;vertical-align:top;width:16px}
.emote_img{background:url(https://s-static.ak.facebook.com/rsrc.php/zC/r/eKCEtE1PXyK.png) no-repeat;overflow:hidden}
hr{background:#d9d9d9;border-width:0;color:#d9d9d9;height:1px}
#jewelCase .jewel{float:left;margin-right:-1px;position:relative}
.jewelCount{background-color:#00376a;top:-1px;color:#fff;display:none;font-size:9px;font-weight:bold;padding-bottom:1px;position:absolute;right:-1px;z-index:101;-moz-border-radius:2px}
.ff2 .jewelCount{-moz-border-radius:2px 4px 4px 1px}
.jewelCount span{background-color:#f03d25;border:1px solid #dd3822;border-top:0;display:block;padding:1px 1px 0;-moz-border-radius:2px}
.ff3 .jewelCount span{padding-right:1px}
.ff2 .jewelCount span{-moz-border-radius:2px 4px 4px 1px}
.jewelNew .jewelCount{display:block}
.openToggler .jewelCount{right:-2px;top:-2px}
.jewelToggler{display:block;height:31px;margin:0 1px;text-decoration:none;width:24px}
.jewelToggler:active,.jewelToggler:focus,.jewelToggler:hover{outline:none;background-color:#4b67a1;text-decoration:none}
.openToggler .jewelToggler{background-color:#fff !important;border:1px solid #333;border-bottom:0;height:30px;margin:0;position:relative;z-index:4}
#jewelMail{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zx/r/Pvubnmvx_0f.png);background-repeat:no-repeat;background-position:-50px -95px}
#jewelMail:hover,#jewelMail:focus,#jewelMail:active{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zx/r/Pvubnmvx_0f.png);background-repeat:no-repeat;background-position:0 -127px}
.jewelNew #jewelMail{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zx/r/Pvubnmvx_0f.png);background-repeat:no-repeat;background-position:-75px -95px}
.openToggler #jewelMail{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zx/r/Pvubnmvx_0f.png) !important;background-repeat:no-repeat !important;background-position:-50px -127px !important}
#jewelRequest{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zx/r/Pvubnmvx_0f.png);background-repeat:no-repeat;background-position:0 -63px}
#jewelRequest:hover,#jewelRequest:focus,#jewelRequest:active{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zx/r/Pvubnmvx_0f.png);background-repeat:no-repeat;background-position:-50px -63px}
#jewelRequestsContent .jewelRequest .jewelRequestContent{padding-top:5px}
#jewelRequestsContent .uiTextTitle{font-size:11px}
#jewelRequestsContent .requestLabel{line-height:12px}
.jewelNew #jewelRequest{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zx/r/Pvubnmvx_0f.png);background-repeat:no-repeat;background-position:-25px -63px}
.openToggler #jewelRequest{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zx/r/Pvubnmvx_0f.png) !important;background-repeat:no-repeat !important;background-position:-25px -127px !important}
.notifsOnly #notificationsWrapper{margin-left:50px}
#jewelNotif{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zx/r/Pvubnmvx_0f.png);background-repeat:no-repeat;background-position:-75px -63px}
#jewelNotif:hover,#jewelNotif:focus,#jewelNotif:active{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zx/r/Pvubnmvx_0f.png);background-repeat:no-repeat;background-position:-25px -95px}
.jewelNew #jewelNotif{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zx/r/Pvubnmvx_0f.png);background-repeat:no-repeat;background-position:0 -95px}
.openToggler #jewelNotif{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zx/r/Pvubnmvx_0f.png) !important;background-repeat:no-repeat !important;background-position:-75px -127px !important}
#jewelCase .jewelBox{background-color:#fff;border:1px solid #333;border-bottom:2px solid #293e6a;left:0;overflow:visible;position:absolute;top:30px;width:330px;z-index:3}
#jewelBoxRequest li,#jewelCase .empty{padding:4px 8px}
.jewelBox ul{padding:4px 0}
#jewelCase .jewelHeader{margin:7px 8px 0}
#jewelCase .jewelHeader a{position:relative;top:2px}
#jewelCase .jewelItemNew{background:#eff1f7}
#jewelCase .jewelItemResponded{background:#fff9d7}
#jewelCase .jewelLoading{display:block;margin:5px auto}
.jewelBox .profileImage{height:50px;width:50px}
.jewelBox .messageRowExternalPic .profileImage{background-color:#e6e6e6;height:16px;width:16px;padding:17px}
.jewelBox .metadata{padding-top:3px}
#jewelCase .jewelFooter a{background-color:#f7f7f7;border-top:1px solid #e0e0e0;display:block;font-weight:bold;padding:8px;text-align:center}
#jewelCase .jewelFooter a:hover,#jewelCase .jewelFooter a:active,#jewelCase .jewelFooter a:focus{background-color:#6d84b4;border-top:1px solid #3b5998;color:#fff;outline:none;text-decoration:none}
#jewelCase .jewelFooter .seeMoreCount{display:none;font-weight:bold;padding:2px 0 0}
#jewelCase .jewelFooter a:hover .seeMoreCount,#jewelCase .jewelFooter a:active .seeMoreCount,#jewelCase .jewelFooter a:focus .seeMoreCount{color:#e7e7e7}
#requestsWrapper .jewelFooter .seeMoreCount,#jewelCase .jewelUnread .jewelFooter .seeMoreCount{display:block}
#jewelBoxNotif li a{color:#333;display:block;padding:4px 8px;text-decoration:none}
#jewelCase .jewelHighlightItem li a:hover,#jewelCase .jewelHighlightItem li a:active,#jewelCase .jewelHighlightItem li a:focus{background-color:#6d84b4 !important;border-bottom:1px solid #3b5998;border-top:1px solid #3b5998;outline:none;padding-top:3px;padding-bottom:3px;text-decoration:none}
#jewelBoxNotif.jewelHighlightItem #presence_notifications_loading.selected{background-color:#fff !important;border:none;cursor:auto;padding:4px 8px}
#jewelCase .jewelHighlightItem a:hover span,#jewelCase .jewelHighlightItem a:active span,#jewelCase .jewelHighlightItem a:focus span,#jewelCase .jewelHighlightItem a:hover div,#jewelCase .jewelHighlightItem a:active div,#jewelCase .jewelHighlightItem a:focus div,#jewelCase .jewelHighlightItem li.selected a,#jewelCase .jewelHighlightItem li.selected .timestamp,#jewelBoxNotif a:hover .blueName{color:#fff}
#jewelCase .jewelHighlightItem li{cursor:pointer;border-top:1px solid #e6e6e6}
#jewelCase .jewelHighlightItem li:first-child{border-top:none}
#jewelBoxNotif .staticAppIcon{background-position:right;height:16px;width:16px}
#jewelBoxNotif .selected .staticAppIcon{background-position:left}
#jewelBoxNotif .blueName{color:#3b5998;font-weight:bold}
#blueBar{background-color:#3b5998;height:41px;left:0;position:absolute;width:100%;z-index:-1}
#globalContainer{margin:0 auto}
.fbx #globalContainer{width:981px}
.fbx #tab_canvas > div{padding-top:0}
.fb_content{padding-bottom:20px}
.fbx .fb_content{padding-bottom:0}
#pageHead{margin:0 auto;width:980px}
.fbx #pageHead{margin:0;width:auto}
#pageLogo{float:left;margin-left:-6px}
#pageLogo a{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zx/r/Pvubnmvx_0f.png);background-repeat:no-repeat;background-position:0 -32px;background-color:#3b5998;display:block;height:31px;width:103px}
#pageLogo a:hover,#pageLogo a:focus,#pageLogo a:active{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zx/r/Pvubnmvx_0f.png);background-repeat:no-repeat;background-position:0 0;background-color:#4b67a1;outline:none}
#headNav{background-color:#627aad;border:1px solid #1d4088;border-bottom:0;height:30px;margin-left:180px}
#pageNav li{float:left}
#pageNav a{color:#fff;display:block;display:inline-block;font-weight:bold;height:22px;padding:8px 10px 0 10px;text-decoration:none}
#pageNav a:hover,#pageNav a:focus,#pageNav a:active{outline:none;background-color:#6d86b7}
#navAccount{position:relative}
#navAccount.openToggler,.no_js #navAccount:hover{background-color:#fff;border:1px solid #333;border-bottom:0;margin:-1px -1px 0}
#navAccount #navAccountLink{padding-right:16px;zoom:1}
.openToggler #navAccountLink,.no_js #navAccount:hover #navAccountLink{background-color:#fff;color:#333;position:relative;z-index:2}
.openToggler #navAccountLink:hover,.openToggler #navAccountLink:focus,.openToggler #navAccountLink:active,.no_js #navAccountLink:hover{background-color:#fff}
#navAccountLink img{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zx/r/Pvubnmvx_0f.png);background-repeat:no-repeat;background-position:-31px -159px;height:4px;left:5px;position:relative;top:-2px;width:7px}
.openToggler #navAccountLink .dropMenuDivide,.no_js #navAccount:hover #navAccountLink .dropMenuDivide{background:#e0e0e0}
.openToggler #navAccountLink img,.no_js #navAccount:hover #navAccountLink img{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zx/r/Pvubnmvx_0f.png);background-repeat:no-repeat;background-position:-23px -159px}
#navAccount ul{background:#fff;border:1px solid #333;border-bottom:2px solid #2d4486;display:none;margin-right:-1px;margin-top:-1px;min-width:200px;padding:10px 0 5px;position:absolute;right:0;top:100%;z-index:1}
#navAccount.openToggler ul,.no_js #navAccount:hover ul{display:block}
#navAccount ul .logoutButton{display:block}
#navAccount .logoutButton:hover{text-decoration:none}
#navAccount .logoutButton input{width:100%;text-align:left;outline:0}
#navAccount ul a,#navAccount ul .logoutButton input{color:#3a579a;display:block;font-weight:normal;height:auto;padding:4px 10px 5px;white-space:nowrap}
#navAccount ul a:hover,#navAccount ul a:focus,#navAccount ul a:active,#navAccount .logoutButton:hover input,#navAccount .logoutButton input:active,#navAccount .logoutButton input:focus{background:#6d84b4;border-bottom:1px solid #3b5998;border-top:1px solid #3b5998;color:#fff;padding:3px 10px 4px;text-decoration:none}
#navAccount li{display:block;float:none}
#navAccountInfo{border-bottom:1px solid #e0e0e0;min-height:55px;position:relative;margin:5px 4px;padding:0 6px 0 64px}
ul #navAccountInfo a:hover,ul #navAccountInfo a:focus,ul #navAccountInfo a:active{background:none;border:none;color:#3b5998;padding:4px 10px 5px;text-decoration:underline}
#navAccountInfo #navAccountPic{left:-5px;margin:0;position:absolute;top:-9px}
#navAccountInfo #navAccountPic img{width:50px;height:50px}
#navAccount #navAccountName{font-size:13px;font-weight:bold;margin:0;padding:0 !important}
#navSearch{margin:4px 0 0 4px;width:300px}
#navSearch .uiSearchInput{border:0}
#navSearch .uiSearchInput input{width:265px}
#navSearch .uiTypeahead,#navSearch .uiTypeahead .wrap{border-color:#3b5998;z-index:100}
#navSearch.wider{width:350px}
#navSearch.wider .uiSearchInput input{width:315px}
#mainContainer{margin-left:-1px;display:block;width:100%}
.hasLeftCol #mainContainer{border-right:1px solid #b3b3b3}
#leftCol{display:none;float:left;padding:20px 0 0 2px;width:179px;word-wrap:break-word}
.hasLeftCol #leftCol{display:block}
#rightCol{margin-top:-10000px;float:right;padding-right:0;width:244px;word-wrap:break-word}
.hasRightCol #rightCol{margin-top:0}
.hasLeftCol #rightCol{padding-right:20px}
#contentCol{background-color:#fff;padding-top:15px}
.hasLeftCol #contentCol{border-left:1px solid #b3b3b3;margin-left:181px}
#headerArea{margin-bottom:5px;padding:2px 0 12px}
.hasLeftCol #headerArea{float:left;margin:0 20px 0;width:759px}
#contentArea{margin-right:-1px;padding-left:1px;word-wrap:break-word}
.hasLeftCol #contentArea,.hasRightCol #contentArea{float:left;margin-right:0}
.hasLeftCol #contentArea{padding:0 20px;width:759px}
.hasRightCol #contentArea{width:714px}
.hasLeftCol .hasRightCol #contentArea{padding-right:0;width:493px}
#bottomContent{clear:both;padding:0 20px 12px}
#globalContainer #locale_selector_dialog_onclick{display:inline;float:none;width:auto}
.fbx #globalContainer #content{min-height:inherit}
.fbxWelcomeBox .fbxWelcomeBoxBlock{margin-right:8px}
.fbxWelcomeBox .fbxWelcomeBoxProfileLink{display:block;padding-top:1px}
.fbxWelcomeBoxName{display:block;font-weight:bold;padding:4px 0 1px;width:112px;word-wrap:break-word}
.uiSideNav ul{display:none}
.uiSideNav .open ul{display:block}
.uiSideNav li{position:relative;zoom:1}
.uiSideNav .hidden{display:none}
.uiSideNav .item,.uiSideNav .subitem{color:#333;display:block;border-bottom:1px solid #fff;line-height:13px;padding:3px 8px 4px 28px;position:relative;text-decoration:none;zoom:1}
.uiSideNav .subitem{padding-left:37px}
.uiSideNav .item:hover,.uiSideNav .item:active,.uiSideNav .item:focus,.uiSideNav .subitem:hover,.uiSideNav .subitem:active,.uiSideNav .subitem:focus{background-color:#eff2f7;text-decoration:none}
.uiSideNav .selectedItem .item,.uiSideNav .selectedItem .item:hover,.uiSideNav ul .selectedItem .subitem,.uiSideNav ul .selectedItem .subitem:hover{background-color:#d8dfea;font-weight:bold}
.uiSideNav .item .imgWrap{position:absolute;top:2px;left:5px;text-align:center;width:18px}
.uiSideNav .external{padding-right:12px;background:url(https://s-static.ak.facebook.com/rsrc.php/zW/r/AebrcwrBeG6.png) no-repeat right 3px}
.uiSideNav .loading ul .count,.uiSideNav .count{color:#808080}
.uiSideNav .loading a{background-color:#eff2f7;border-color:#eff2f7;border-bottom-color:#fff}
.uiSideNav .loading ul a{background-color:#fff;border-color:#fff}
.uiSideNav .loadingIndicator{background:url(https://s-static.ak.facebook.com/rsrc.php/zb/r/GsNJNwuI-UM.gif) no-repeat 0 0;display:none;height:11px;position:absolute;right:5px;top:5px;width:16px}
.loading .loadingIndicator{display:block}
.loading ul .loadingIndicator{display:none}
.uiSideNav ul .loading .loadingIndicator{top:5px}
.uiSideNav .showSubitems .hiddenSubitem,.uiSideNav .open .navMore{display:block}
.uiSideNav .hiddenSubitem,.uiSideNav .showSubitems .navMore,.uiSideNav .navMore{display:none}
.uiSideNav li .navMore{margin:4px 0 10px 37px}
.uiSideNav .loading .navMore{background-color:transparent}
.navMore .moreLessArrow,.navLess .moreLessArrow{margin:4px 0 0 4px;position:absolute;display:inline}
.uiSideNav .uiBubbleCount{margin-left:2px}
#groupSideNav,.uiSideNav #groupSideNav ul.uiSideNav{display:block}
#groupSideNav .loading .count{display:none}
#fbGroupActions{border:0;padding:3px 8px 4px 28px}
#fbGroupActions .navMore{display:inline;margin:0;padding:0}
#fbGroupActions a:active,#fbGroupActions a:focus{text-decoration:none;outline:none}
.expandedMode #fbGroupActions .navMore{display:none}
.expandedMode .hidden{display:block}
.expandedMode #fbGroupActions .seeAllLink{display:inline}
.home #leftCol{min-height:600px}
.home #rightCol{padding-top:6px}
.home #rightCol .home_right_column{padding-top:38px}
.home #contentArea .home_left_column{padding-top:6px}
.home #rightCol .friend_list_right_column_header{text-align:right;height:38px}

.uiBubbleCount{background:url(https://s-static.ak.facebook.com/rsrc.php/zI/r/pX8eD-tmEgk.png) no-repeat 0 -16px;display:inline-block;font-size:11px;font-weight:bold;line-height:14px;padding-left:6px}
.uiBubbleCount span.numberContainer{background:url(https://s-static.ak.facebook.com/rsrc.php/zI/r/pX8eD-tmEgk.png) no-repeat right -1px;color:#fff;display:inline-block;line-height:14px;padding:0 7px 0 1px}
* a:hover .uiBubbleCount{text-decoration:none}
#pagelet_search_ads{margin-top:44px}
.bing_narrow_right .hasRightCol div#contentArea{width:532px}
.bing_narrow_right #rightCol{width:205px}
#so_sound_player{left:0;position:absolute;top:0;z-index:1000}
#sound_player_holder{position:absolute}
.feedback_toggle_link .feedbackBling .text{line-height:normal}
.feedbackBling{margin-right:-1px;margin-left:-1px}
.feedback_toggle_link .feedbackBling .img{margin-top:-1px}
.UIMessageBox{padding:10px;border-width:1px;border-style:solid}
.UIMessageBox .sub_message{margin:4px 0 0}
.status{background-color:#fff9d7;border-color:#e2c822}
.error{background-color:#ffebe8;border-color:#dd3c10}
.error a{color:#dd3c10}
.explanation_note{background-color:#fff;border-color:#bdc7d8}
.explanation_note .main_message{font-size:11px}
.explanation_note a{color:#dd3c10}
.uiSearchInput{background:#fff;border:1px solid #899bc1;border-top-color:#6484b4;display:inline-block}
.uiSearchInput span{border:0;border-top:1px solid #ededed;display:inline-block;padding:1px 0 2px;position:relative}
.uiSearchInput input{border:0;border-right:1px solid #e5e5e5;margin:0 22px 0 5px;outline:none;padding:1px 5px 2px 0;width:190px}
.uiSearchInput button{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zx/r/Pvubnmvx_0f.png);background-repeat:no-repeat;background-position:0 -159px;background-color:#fff;border:0;cursor:pointer;display:block;float:right;height:19px;padding:0;position:absolute;right:0;top:0;width:22px;z-index:2}
.ff2 .uiSearchInput{padding:3px 0 4px}
.ff2 .uiSearchInput span{padding:2px 0}
.ff3.mac .uiSearchInput input{padding-bottom:1px !important}
.uiPhotoThumb{border:1px solid #ccc}
.uiPhotoThumb img{display:block;margin:3px}
.uiPhotoThumb:hover{border:1px solid #3b5998}
.loading.uiPhotoThumb{background:url(https://s-static.ak.facebook.com/rsrc.php/zb/r/GsNJNwuI-UM.gif) no-repeat center center}
.loading.uiPhotoThumb img{opacity:.3}
.uiVideoThumb{border:0;overflow:hidden;position:relative}
.uiVideoThumb img{display:-moz-inline-box;display:inline-block;max-width:130px}
.uiVideoThumb img[width]{max-width:auto}
.uiVideoThumb i{background:url(https://s-static.ak.facebook.com/rsrc.php/zr/r/XXVvDYAks_i.png) no-repeat 0 0;bottom:0;height:32px;left:0;position:absolute;width:39px}
.uiVideoThumbSmall i{background-image:url(https://s-static.ak.facebook.com/rsrc.php/z6/r/O4g7YkkTgBI.png);height:26px;width:31px}
.uiVideoThumbTiny i{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zD/r/LtSmReQfVv8.png);height:18px;width:22px}
.uiVideoThumbLoading i{background:#fff url(https://s-static.ak.facebook.com/rsrc.php/zb/r/GsNJNwuI-UM.gif) no-repeat 50% 50%;height:100%;width:100%}
.uiSideNav .divider{border-bottom:1px solid #ededed;border-top:1px solid #ededed;height:1px;left:auto;display:none;padding-left:0;margin-bottom:1px;width:179px;font-size:1px;line-height:1px;overflow:hidden}
.editMode .uiSideNav .hidden,.expandedMode .uiSideNav .hidden,.expandedMode .uiSideNav .divider{display:block}
.navMoreLess{line-height:12px;padding:3px 8px 4px 28px}
.navMoreLessCount{margin:0}
.navMoreText{display:block;width:100%}
.navMoreTextWithCount{width:75% !important}
.navMore .moreArrow{display:inline;position:absolute;margin:6px 0 0 2px}
.navMore:hover .moreArrow{text-decoration:none}
.navMore i{position:absolute}
.navMore:hover i{text-decoration:none}
.navLess{line-height:12px}
.navLess,.expandedMode .navMore{display:none}
.expandedMode .navLess{display:block}
.uiSideNav .uiCloseButton{display:none;position:absolute;right:4px;top:1px;z-index:2}
.uiSideNav .buttonWrap{position:absolute;width:15px;height:100%;left:-15px}
.uiSideNav .item:hover .buttonWrap .uiCloseButton{display:block}
.middot{display:none}
.expandedMode .middot{display:inline}
.uiSideNavCountSprited{background:url(https://s-static.ak.facebook.com/rsrc.php/zk/r/BwKwOpPWbGZ.png) no-repeat 0 -13px;color:#3b5998;display:inline-block;font-size:9px;line-height:13px;padding-left:3px}
.uiSideNavCountSprited span.countValue{background:url(https://s-static.ak.facebook.com/rsrc.php/zk/r/BwKwOpPWbGZ.png) no-repeat right 0;color:#3b5998;display:inline-block;line-height:13px;padding:0 4px 1px 1px;font-weight:bold}
.uiSideNav .selectedItem .subitem:hover .uiSideNavCountSprited{background:url(https://s-static.ak.facebook.com/rsrc.php/zk/r/BwKwOpPWbGZ.png) no-repeat 0 -13px}
.uiSideNav .selectedItem .subitem:hover .uiSideNavCountSprited span.countValue{background:url(https://s-static.ak.facebook.com/rsrc.php/zk/r/BwKwOpPWbGZ.png) no-repeat right 0;color:#3b5998;text-decoration:none}
.uiSideNav .selectedItem a:hover .uiSideNavCountSprited{background-image:none}
.uiSideNav .selectedItem a:hover .uiSideNavCountSprited span.countValue{background:none;color:#3b5998}
.uiSideNavCount{background-color:#d8dfea;color:#3b5998;font-weight:bold;left:-1px;padding:0 4px;position:relative;-moz-border-radius:2px}
.uiSideNav .selectedItem .subitem:hover .uiSideNavCount{background-color:#d8dfea;color:#3b5998}
.uiSideNav .selectedItem a:hover .uiSideNavCount{background-color:transparent;color:#3b5998;text-decoration:none}
.uiSideNavCount .countValue{color:#3b5998}
.uiSideNav .dark-grey-float-right{color:#333;font-weight:bold;float:right;padding:0}
.uiSideNav span.blue-bubble-float-right{float:right}
.actionLinks span.blue-bubble-float-right{float:right;margin-right:4px}
.uiSideNav .loading .dark-grey-float-right,.uiSideNav .loading .blue-bubble-float-right{display:none}
.uiFacepileSmall ul{margin-top:-2px}
.uiFacepileMedium ul{margin-top:-1px}
.uiFacepileLarge ul{margin-top:-5px}
.uiFacepile .link{display:-moz-inline-box;display:inline-block}
.uiFacepile .uiFacepileItem .img{vertical-align:bottom}
.uiFacepileSmall .uiFacepileItem{margin:2px 2px 0 0}
.uiFacepileMedium .uiFacepileItem{margin:1px 1px 0 0}
.uiFacepileLarge .uiFacepileItem{margin:5px 3px 0 0}
.uiFacepile li:last-child .img{margin-right:0}
.uiFacepile .chatOnline .uiTooltipText,.uiFacepile .chatIdle .uiTooltipText{background-position:right center;background-repeat:no-repeat;border-right:7px solid #282828;padding-right:12px}
.uiFacepile .chatOnline .uiTooltipText{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zU/r/gATt-jY8pG8.png)}
.uiFacepile .chatIdle .uiTooltipText{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zC/r/iCw8rbNFfB-.png)}
.uiFacepile .chatOverlay{background-repeat:no-repeat;left:0;position:absolute}
.uiFacepileSmall .chatOverlay{background-position:18px 18px;height:25px;width:25px}
.uiFacepileMedium .chatOverlay{background-position:26px 26px;height:33px;width:33px}
.uiFacepileLarge .chatOverlay{background-position:44px 44px;height:51px;width:51px}
.uiFacepile .chatOnline .chatOverlay{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zz/r/73HA_3NSxq7.png) !important}
.uiFacepile .chatIdle .chatOverlay{background-image:url(https://s-static.ak.facebook.com/rsrc.php/zy/r/RcZrqjLHpqS.png) !important}
.uiFacepile .chatOffline .chatOverlay{background-image:none !important}
.uiStream .uiStreamMessage{color:#000;font-size:11px;font-weight:normal;margin:0 0 5px 0}
.Locale_zh_CN .uiStream .uiStreamMessage,.Locale_zh_TW .uiStream .uiStreamMessage,.Locale_zh_HK .uiStream .uiStreamMessage,.Locale_ja_JP .uiStream .uiStreamMessage{font-size:13px}
.uiStreamMessage,.uiAttachmentTitle,.uiAttachmentDesc{word-wrap:break-word}
.uiStreamMessage .actorDescription{padding-bottom:3px}
.uiStreamMessage .messageBody{line-height:14px}
div.uiAttachmentTitle{color:#333}
.uiStreamStory{padding-right:35px}
.uiStream .hideButton,.uiStream .hideSelector{float:right;margin:-2px -35px 0 0}
.uiStream .hideButton,.uiStream .hideSelector .uiSelectorButton{opacity:0}
.uiStream .storyContent:hover .hideButton,.uiStream li.uiStreamStory:hover .hideButton,.uiStream .hideButton:active,.uiStream .hideButton:focus,.uiStream .storyContent:hover .hideSelector .uiSelectorButton,.uiStream li.uiStreamStory:hover .hideSelector .uiSelectorButton,.uiStream .hideSelector .uiSelectorButton:active,.uiStream .hideSelector .uiSelectorButton:focus,.uiStream .hideSelector .openToggler .uiSelectorButton{opacity:1}
.uiStream .uiAttachmentDesc,.uiStream .uiStreamPassive{color:#808080}
.uiStream .tagIcon{vertical-align:bottom}
.uiStreamSource,.uiStreamSource a{color:#999}
.uiStream .text_exposed_link{display:block;padding-top:4px;font-size:11px}
.uiStream .uiStreamStoryHide .storyContent{display:none}
.uiStreamAttachments .external img{max-height:90px;max-width:90px}
.uiStream .uiAttachmentDetails{color:#333}
.uiAttachmentInline .uiAttachmentTitle,.uiAttachmentInline .uiAttachmentDesc{display:inline}
.uiStreamMessage .actorName,.uiStreamMessage .passiveName{font-weight:bold}
.uiAttachmentNoMedia{border-left:2px solid #ccc}
.uiAttachmentMedia{float:left}
.uiStreamAttachments .exploded .UIImageBlock_Image{margin-right:0}
.uiStreamAttachments .exploded .UIImageBlock_Content,.uiStreamAttachments .text_exposed .truncatedMediaInfo{clear:both;display:block;padding-left:0;width:auto}
.uiStreamAttachments .truncatedMediaItem{display:none}
.uiStreamAttachments .text_exposed .truncatedMediaItem{display:block}
.uiStreamAttachments .truncatedMediaInfo{display:table;zoom:1}
.uiStream .uiStreamPrivacy .uiTooltipWrap{left:-5px}
.uiStreamPrivacyContainer{color:#999}
.uiStreamCollapsed{border-top:1px solid #eee}
.uiStreamSubstories li.showAll{line-height:16px;padding:10px 0 0}
.uiStreamSubstories .unseenItem{border-left:2px solid #a8b2ce;padding-left:2px}
.uiStreamSubstories .uiUfi{width:358px}
.streamStoryIcon{margin-left:16px}
.uiStreamSeparator{background-color:#e9e9e9;border:0;height:7px;margin:6px 0;padding:0;text-align:center}
.uiStreamSeparatorText{background-color:#fff;padding:0 5px;position:relative;top:-4px}
.uiStream .suppressBorder{border-top:0}
.uiTypeahead{background:#fff;border:solid #bdc7d8;border-width:1px 0;cursor:default;position:relative}
.uiTypeahead .wrap{border:solid #bdc7d8;border-width:0 1px;overflow:hidden;zoom:1}
.uiTypeahead .textInput{border:0;outline:0;width:100%}
.uiTypeahead .selected .textInput{background:#e2e8f6}
.uiTypeaheadDisabled,.uiTypeaheadDisabled div.wrap{border-color:#ccc}
.uiTypeaheadDisabled div.wrap .textInput{background:#e2e2e2;color:#333}
.uiTypeaheadFocused,.uiTypeaheadFocused .uiTypeahead{z-index:1}
.uiTypeaheadView{display:block;left:0;position:absolute;top:100%;width:100%}
.uiTypeaheadView ul{background:#fff;border:solid;border-width:1px 1px 2px;border-color:#333 #333 #293e6a;overflow:hidden;padding:2px 0}
.uiTypeaheadView li{border:solid #fff;border-width:1px 0;color:#333;cursor:pointer;display:block;min-height:1px;padding:0 6px;position:relative}
.uiTypeaheadView strong{background-color:#d8dfea;color:#3b5998}
.uiTypeaheadView .selected{background-color:#6d84b4;border-color:#3b5998}
.uiTypeaheadView .selected,.uiTypeaheadView .selected a,.uiTypeaheadView .selected div,.uiTypeaheadView .selected span{color:#fff !important}
.uiTypeaheadView .selected strong{background-color:#5670a6}
.uiTypeaheadView .text,.uiTypeaheadView .subtext,.uiTypeaheadView .category{display:block;padding-bottom:2px}
.uiTypeaheadView .category{color:#666}
.uiTypeaheadView .subtext{color:#999}
.uiTypeaheadView .arrow{background:transparent url(https://s-static.ak.facebook.com/rsrc.php/zV/r/IJYgcESal33.png) 0 -413px;display:inline-block;height:7px;margin-left:4px;width:4px}
.uiTypeaheadView .selected .arrow{background-position:0 -420px}
.uiTypeahead .uiTypeaheadView .calltoaction{background:#f7f7f7;border-bottom:none;border-color:#ddd;display:block;min-height:1px;margin:2px 0 -2px;padding:8px;text-align:center}
.uiTypeahead .uiTypeaheadView .calltoaction.selected{background:#6d84b4;border-color:#3b5998}
.typeaheadLoading .uiTypeaheadView .calltoaction span.text{visibility:hidden}
.typeaheadLoading .uiTypeaheadView .calltoaction{background:#f7f7f7 url(https://s-static.ak.facebook.com/rsrc.php/zb/r/GsNJNwuI-UM.gif) no-repeat 50% 50%}
.typeaheadLoading .uiTypeaheadView .calltoaction.selected{background:#6d84b4 url(https://s-static.ak.facebook.com/rsrc.php/z-/r/AGUNXgX_Wx3.gif) no-repeat 50% 50%}
.uiTypeaheadView .search ul{padding-bottom:0}
.uiTypeaheadView .search li{min-height:50px;padding:2px 30px 2px 63px}
.uiTypeaheadView .search li a{outline:none}
.uiTypeaheadView .search li a:hover{text-decoration:none}
.uiTypeaheadView .search img{background-color:#eceff5;display:block;height:50px;left:6px;position:absolute;width:50px}
.uiTypeaheadView .search .text{color:#3b5998;font-weight:bold}
.uiTypeaheadView .search .subtext{font-size:9px}
.uiTypeaheadView .search .seeMore{color:#3b5998;font-size:11px;font-weight:bold;padding-bottom:0;padding-right:7px}
.uiTypeaheadView .search .web{padding:2px 15px 2px 10px}
.uiTypeaheadView i{display:none}
.uiBlingBox{padding:3px 4px 3px 2px}
.uiBlingBox:hover{text-decoration:none;background-color:#eceff5;border-bottom:1px solid #e5eaf1}
.uiBlingBox .text{line-height:11px;vertical-align:text-bottom}
.uiBlingBox .small{margin-left:5px}
.uiBlingBox .img{margin-right:2px;vertical-align:text-top}
.uiBlingBox .emptyBling{margin-right:0 !important}

#bootloader_Pawg1 { height: 42px; }